.board-page-html{

    >header{
        height: 86px;
        background: #273962;

        .title-left{
            padding-left: 26px;
            padding-top: 10px;

            h1{
                // width: 320px;
                height: 42px;
                font-size: 30px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: #FFFFFF;
                line-height: 42px;
            }

            h3{
                // width: 400px;
                height: 28px;
                font-size: 20px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: #FFFFFF;
                line-height: 28px;
            }
        }

        .title-right{

            .ivu-form-item-label{
                width: 56px;
                height: 20px;
                font-size: 14px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 20px;
                margin-top: 12px;
                margin-bottom: 4px;
            }

            .ivu-select{
                width: 208px;
            }

            .ivu-date-picker{
                width: 208px;
            }

        }

    }

    >nav{
        height: 98px;
        background: #374A75;

        ul{
            li{
                display: inline-block;
                list-style: none;
                color: #fff;
                width: 20%;
                text-align: center;

                p.title{
                    // width: 72px;
                    // height: 25px;
                    font-size: 16px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 500;
                    color: #FFFFFF;
                    // line-height: 25px;
                    margin-top: 8px;
                }

                p.num{
                    // width: 145px;
                    // height: 62px;
                    font-size: 36px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #FFFFFF;
                    // line-height: 62px;
                }
            }
        }
    }

    .content{
        background: #DBE0E8;
        padding: 12px 8px;

        .ivu-row.top,.ivu-row.bottom{
            >div:first-child{ 
                padding-left: 26px;
            }
            >div:last-child{ 
                padding-right: 26px;
            }           
        }

        .ivu-row.bottom{
            margin-top: 18px;

            .ivu-col{
                box-sizing: border-box;
            }
            
            >div:nth-child(1){
                // margin-right: 12px;
            }
        }

        .title{
            background: #fff;
            padding-left: 26px;
            padding-top: 30px;
            padding-bottom: 16px;

            >h1{
                // width: 633px;
                height: 45px;
                font-size: 32px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: #3D5487;
                line-height: 45px;
            }
        }


        >div.ivu-row{
            .ivu-col{
                background: #fff;
            }
        }

        .ivu-table{
            .ivu-table-header{
                color: #fff;

                th{
                    background: #3D5487;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000000;
                }

                .num-all{
                    text-align: center;
                }

                .no-right-border{
                    border-right: none;
                }

                .ivu-table-cell{
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }  
            
            td{
                border-bottom: 1px solid #00000033;
                // border-bottom-color: #000 !important;
            }
        }

        .ivu-table-body{
            tr td:first-child{ 
                border-left: 1px solid #00000033;
            }
            tr td:last-child{ 
                border-right: 1px solid #00000033;
            }
        }

        .ivu-table-stripe .ivu-table-body tr:nth-child(2n) td{
            background: #A6ADBE;
            // opacity: 0.45;
        }
    }
}